<% include ../partials/header %>
<div class="container">
    <div class="row align-items-center flex-column mt-5">
        <h2 class="">Edit <%= campground.name %></h2>
        <div style="width: 40%;" class="mt-2">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post">
                <div class="form-group">
                    <label for="campNameInput">Camp Name</label>
                    <input type="text" class="form-control" id="campNameInput" name="campground[name]"
                        value="<%= campground.name %>" required>
                </div>
                <div class="form-group">
                    <label for="campImageInput">Camp Image link</label>
                    <input type="text" class="form-control" id="campImageInput" name="campground[image]"
                        value="<%= campground.image %>" required>
                </div>
                <div class="form-group">
                    <label for="campDescriptionInput">Camp Description</label>
                    <textarea name="campground[description]" id="campDescriptionInput" class="form-control" rows="7"
                        required><%= campground.description %></textarea>
                </div>
                <div class="form-group">
                    <label for="campPriceInput">Camp Price</label>
                    <input type="number" class="form-control" id="campPriceInput" name="campground[price]" min="0.01"
                        step="0.01" value="<%= campground.price %>" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
            <a href="/campgrounds/<%= campground._id %>">Go Back</a>
        </div>

    </div>
</div>
<% include ../partials/footer %>